<template>
  <div id="app">
    <airquality-map :userLocation="userLocation" />
  </div>
</template>

<script>
import AirqualityMap from '@/components/AirqualityMap.vue';

export default {
  name: 'app',
  components: {
    AirqualityMap,
  },
  data () {
    return {
      userLocation: {
        lat: 10.4111576,
        lon: -75.5052369
      },
    }
  },
  mounted() {
    //get user's location
    this.getCurrentLocation();
  },
  methods: {
    getCurrentLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(position => {
          this.userLocation.lat = position.coords.latitude;
          this.userLocation.lon = position.coords.longitude;
        });
      }
    },
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

</style>
