<template>
  <l-map  :zoom="zoom" :center="getMarkLatLon(userLocation.lat, userLocation.lon)"  >
    
    
    <!-- Control -->
    <l-control-layers position="topright" :collapsed="true"></l-control-layers>
    <l-tile-layer
      v-for="tileProvider in tileProviders"
      :key="tileProvider.name"
      :name="tileProvider.name"
      :visible="tileProvider.visible"
      :url="tileProvider.url"
      :attribution="tileProvider.attribution"
      layer-type="base">
    </l-tile-layer>
    <l-control position="bottomleft" >
      <aqiColorAxis />
    </l-control>
    <l-control position="bottomright" >
      <aqiInfoBox :aqiData="currentData" />
    </l-control>
    <l-control position="bottomright" >
      <weather :LatLon="selectLatLon" />
    </l-control>

    <!-- Marker -->
    <l-circle-marker
      v-for="station in stations" :key="station.id" 
      :lat-lng="getMarkLatLon(station.Latitude, station.Longitude)"
      :radius="15"
      color="grey"
      :fill="true"
      :fillColor="getAQIColor(station.id)"
      :fillOpacity="0.7"
      @click="stationClick(station)"
    >
      <l-popup :content="station.SiteName"></l-popup>
    </l-circle-marker>
    <l-marker
        :lat-lng="[userLocation.lat, userLocation.lon]"
        :icon="icon" > 
    </l-marker>
    <l-layer-group
        layer-type="overlay"
        name="Limites_Maritimos"
      >

    <l-geo-json
        v-if="show"
        :geojson="geojson"
    />
  </l-layer-group>
  <l-layer-group
        layer-type="overlay"
        name="Cayos"
      >

    <l-geo-json
        v-if="show"
        :geojson="cayos"
    />
  </l-layer-group>
  </l-map>
</template>

<script>
import axios from 'axios';
import data from "../assets/geojson/Espacios_Maritimos.json";

import { LMap, LTileLayer, LLayerGroup,LControlLayers, LMarker, LPopup, LCircleMarker, LIcon, LControl,LGeoJson } from 'vue2-leaflet';
import aqiColorAxis from '@/components/shared/ColorLegend.vue';
import aqiInfoBox from '@/components/shared/CurrentBox.vue';
import locationIcon from '../assets/locationIcon.svg';
import weather from '@/components/CurrentWeater.vue';

export default {
  name: 'Airquality',
  components: {
    LMap, LTileLayer,LLayerGroup,LControlLayers, LMarker,
    LPopup, LCircleMarker, LIcon, LControl,LGeoJson,
    aqiColorAxis, aqiInfoBox, weather,
  }, 
  props: ["userLocation"],
  data () {
    return {
      zoom: 14,
      tileProviders: [
        {
          name: 'WorldImagery',
          visible: true,
          url: 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}',
          attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
        },
        {
          name: 'OpenStreetMap',
          visible: false,
          attribution: '&copy; <a target="_blank" href="http://osm.org/copyright">OpenStreetMap</a> contributors',
          url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
        },
        {
          name: 'OpenTopoMap',
          visible: false,
          url: 'https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png',
          attribution: 'Map data: &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, <a href="http://viewfinderpanoramas.org">SRTM</a> | Map style: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)'
        }
        
      ],
      loading: false,
      show: true,
      geojson: null,
      cayos:null,
      stations: {},
      circle: {
        center: [23.7, 121],
        radius: 6,
        color: 'red'
      },
      icon: L.icon({
        iconUrl: locationIcon,
        iconSize: [64, 64],
      }),
      currentData: {},
      selectLatLon: this.userLocation,
    }
  },
  mounted() {
   this.fetchData();
  },
  created() {
    this.loading = true;
    axios
      .get(
        'geojson/Jurisdicion_Dimar.json'
      )
      .then(response => {
        this.geojson = response.data;
        this.loading = false;
      });
    axios
      .get(
        'geojson/Linea_Costa_cayos_SAI.json'
      )
      .then(response => {
        this.cayos = response.data;
        this.loading = false;
      });


  },

  watch: { 
    userLocation: function(newVal, oldVal) {
      this.selectLatLon.lat = this.userLocation.lat;
      this.selectLatLon.lon = this.userLocation.lon;
    }
  },
  methods: {
    fetchData(){
     axios.get('geojson/data.json')
       .then( resp =>{
         console.log(resp);
         this.stations = resp.data;
       })
    },
    getMarkLatLon(lat, lon){
      return L.latLng(lat, lon);
    },
    getAQIColor: function(value){
      let colorStr = "grey";
      if (value === "") {
        return colorStr;
      }
            
      if (value >= 301) {
        colorStr = "purple";
      } else if (value >= 201) {
        colorStr = "brown";
      } else if (value >= 151) {
        colorStr = "red";
      } else if (value >= 101) {
        colorStr = "orange";
      } else if (value >= 51) {
        colorStr = "#FFFF66";
      } else {
        colorStr = "YellowGreen";
      }

      return colorStr;
    },
    stationClick: function(station){
      this.currentData = station;
      this.selectLatLon = {
        lat: station.Latitude, 
        lon: station.Longitude
      }
    }
  },
}
</script>

<style>
  .vue2leaflet-map {
    top: 1;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute !important; 
  } 
</style>

