<template>
  <!-- <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view/>
  </div> -->

<div id="app">
  <nav class="nav has-shadow">
    <div class="nav-left"><a class="nav-item"><img src="https://vuejs.org/images/logo.png" alt="Vue logo"/>✖<img src="http://jgthms.com/web-design-in-4-minutes/bulma.png" alt="Bulma logo"/></a></div>
    <div class="nav-right">
      <router-link class="nav-item is-tab" to="/" exact="exact">Home</router-link>
      <router-link class="nav-item is-tab" to="/about">About</router-link>
      <router-link class="nav-item is-tab" to="/contact">CON</router-link>
    </div>
  </nav>
  <transition name="fade">
    <router-view class="view"></router-view>
  </transition>
</div>
</template>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
